<style>
    footer{
        left: 0;
        right: 0;
        bottom: 0;
        padding: 5px;
        background-color: #000;
        font-family: 'Courier New', Courier, monospace;
        color: #fff;
    }
</style>

<footer>
    <p>Designed and developed by Booker Robinson</p>
    <p>Contact the developer at:
        <a href="mailto:robinson.booker11@gmail.com">robinson.booker11@gmail.com</a>
    </p>
</footer>