<style>
  nav{
    top: 0;
    right: 0;
    left: 0;
    background-color: #000;
    z-index: 2;
    padding-bottom: .5vw;
    color: #fff;
  }
  .list a{
    color: #fff;
    font-family: serif;
  }
  a{
    text-decoration: none;
  }
</style>
<nav>
  <div id="collapse" onclick="toggleNavbar()">|||</div>
  <ul class="list">
    <li><a id="Home" class="nav-link" href="/"><span class="margin">Home</span></a></li>
    <li><a id="clases" class="nav-link" href="/clases"><span class="margin">Clases</span></a></li>
    <li><a id="actividades" class="nav-link" href="/actividades"><span class="margin">Actividades</span></a></li>
    <!-- <li><a id="rumbo" class="nav-link" href="/rumbo_a_colombia"><span class="margin">Rumbo a Colombia</span></a></li> -->
  </ul>
  <script>
    function toggleNavbar(){
      document.querySelector(".list").classList.toggle("open-navbar");
    }
  </script>
</nav>
