<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f00"/>
    <title>Actividades Wild West Mambo</title>
    <meta name="description", content="Academia de baile en Mayaguez Puerto Rico">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="images\logo.ico"/>
    <link rel="stylesheet" href="/css/navbar/navbar-min_8in.css" media="(min-device-width: 8in)">
    <link rel="stylesheet" href="/css/navbar/navbar-max_8in.css" media="(max-device-width: 8in)">
    <link rel="stylesheet" href="./css/actividades.css">
</head>
<body>
    <% include partials/navbar %>
    <header>
        <h1>Actividades Wild West Mambo</h1>
    </header>
    <ul id="event-nav">
        <li>Sociales</li>
        <li>Talleres</li>
        <li>Graduacion</li>
        <li>Fundraisers</li>
    </ul>
    <section id="activities">
        <div class="loader"></div>
    </section>
    <% include partials/footer %>
    <script src="/js/acti.js"></script>
</body>
</html>